.category-card-dimension {
  padding: 0;
  box-shadow: 0px 18px 53px 0px rgb(185 181 181 / 95%);
  height: 11rem;
  width: 12rem;
  border-radius: 12px;
}

.card-title1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.category-body {
  padding-top: 71.8%;
}

@media (max-width: 450px) {
  .category-card-dimension {
    width: 9rem;
  }
  .category-body {
    padding-top: 106.4%;
  }
  .category-body h4 {
    font-size: 1.2rem;
  }
}
