.slider-quote {
  padding-top: 124px;
  margin-left: 5%;
  margin-right: 5%;
}

.slider-div {
  height: 35rem;
  text-align: center;
  color: white;
  width: 95%;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}
@media (max-width: 980px) {
  .slider-div {
    height: 20rem;
  }
}

@media (max-width: 450px) {
  .slider-div {
    height: 20rem;
  }
}
