/* NavBar styling */

#nav-brand {
  font-size: 1.75rem;
}

#nav-category {
  padding-top: 12%;
}

.nav-category-item {
  width: 20%;
}

#navbar-icons {
  padding-top: 9%;
}

.menuitem {
  margin-right: 30px;
}

#navbar-list {
  margin-left: 12%;
  font-size: 1.15rem;
  width: -webkit-fill-available;
}

#navbarSupportedContent {
  padding-left: 15%;
}

.nav-icons-list {
  display: flex;
}

@media (max-width: 450px) {
  #navbar-list {
    margin-left: 0;
  }
  #navbarSupportedContent {
    padding-left: 0;
    text-align: center;
  }
  #nav-category {
    width: 100%;
    padding-top: 2%;
  }

  .nav-category-item {
    width: 100%;
  }
  #navbar-icons {
    padding-top: 0;
  }

  .menuitem {
    margin-right: 0;
    width: 100%;
  }
}

/* Swipe Cards */

.tinderCards {
  padding-top: 7%;
  padding-left: 54%;
}

.card {
  position: relative;
  background-color: #fff;
  width: 400px;
  padding: 5px;
  max-width: 85vw;
  height: 50vh;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.swipe {
  position: absolute;
}

.cardContent {
  width: 100%;
  height: 100%;
}
