/* NavBar styling */

#nav-brand {
  font-size: 1.75rem;
}

#nav-category {
  padding-top: 12%;
}

.nav-category-item {
  width: 20%;
}

#navbar-icons {
  padding-top: 9%;
}

.menuitem {
  margin-right: 30px;
}

#navbar-list {
  margin-left: 12%;
  font-size: 1.15rem;
  width: -webkit-fill-available;
}

#navbarSupportedContent {
  padding-left: 15%;
}

@media (max-width: 450px) {
  #navbar-list {
    margin-left: 0;
  }
  #navbarSupportedContent {
    padding-left: 0;
    text-align: center;
  }
  #nav-category {
    width: 100%;
    padding-top: 2%;
  }

  .nav-category-item {
    width: 100%;
  }
  #navbar-icons {
    padding-top: 0;
  }

  .menuitem {
    margin-right: 0;
    width: 100%;
  }
  .nav-icons-list {
    display: flex;
  }
}
